    <div class="mb-3" id="form">
        label className="form-label">[nomTable]</label>
        <select className="form-select" id="exampleFormControlSelect1" aria-label="Default select example" name={[nomTable]}>
            {
                [nomTable]s.map(([nomTable],set[nomTable])=>(
                    <option key={index} value={[nomTable].id[nomTable]}>{[nomTable].id[nomTable]}</option>
                ) )
            }
        </select>
    </div>
